@charset "utf-8";

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 98%;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    color: #323232;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    vertical-align: center;
}

header>p {
    width: 25%;
    line-height: 37px;
    margin: 0;
    padding-left: 3em;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.9);
}

header a {
    color: #323232;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.9);
}

header a:hover {
    color: rgb(173, 5, 83);
}

nav {
    width: 95%;
    display: inline-block;
    margin-left: 50%;
}

nav a {
    margin-right: 3%;
}

main {
    margin-left: 70%;
    margin-bottom: 10%;
}

main div.button-area {
    width: 100%;
    padding: 3%;
}

main div.button-area button {
    font-size: 1em;
    border-radius: 2px;
}

#welcome-div {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    margin-right: 5%;
    border-radius: 5px;
    margin-bottom:8%;
}

#welcome-div>h1 {
    padding: 5px;
    text-align: left;
    margin-left: 1.5%; 
}

#register-div {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    padding:2%;
    margin-right:2%;
    border-radius:5px;
}

.sign-up-div>input {
    width:20%;
    height:5%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
}
.custom-input {
    margin-top:3%;
    margin-left:35%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
}

.button-left {
    margin-left: 20%;
}

.button-area>button {
    margin-bottom: 2%;
    width: 20%;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    border:2px solid black;
    border-radius: 10px;
}
.button-area>button>a {
    text-decoration: none;
    font-size: 1.2em;
    color:#323232;
}

.container {
    width:500px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    border:2px solid black;
    border-radius: 10px;
    padding:1em;
    display: inline-block;
    text-align: center;
    margin-right:5%;
}

input.my-user {
    width:9em;
    display: block;
    margin: auto;
    text-align: center;
}

#pet-card-div {
    float:left;
    background-color: aqua;
}


.left-side {
    display: flex;
    justify-content:left;
}

div.pet-dashboard { 
    width:300px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    border:2px solid black;
    border-radius: 10px; 
    text-align: center;
    position:absolute;
    top:15%;
    left:5%;
    padding:1%;
}
#h1-pets {
    position: absolute;
    top:5%;
}
div.pet-card {
    margin-bottom:2%;
    position:relative;
    float:right;
    top:20%;
}

footer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    vertical-align: center;
}

footer p {
    font-size: 1.5em;
    font-weight: bold;
    color:#323232;
    max-width: 30%;
    align-self: flex-end;
    margin-left: 1%;
    text-shadow: 10px 10px 10px #ccc;
}

footer a {
    max-width: 25%;
    margin-left: 2%;
    line-height: 3em;
    text-shadow: 10px 10px 10px #ccc;
    text-decoration: none;
    color:#323232;
    font-size: 1.55em;
    font-weight: bold;
}
footer a:hover {
    color: rgb(173, 5, 83);
}

footer ul {
    width: 25%;
    list-style-type: none;
    margin-left: 50%;
    padding-left: 2%;
}

footer ul li {
    display: inline !important;
    text-decoration: none;
    padding-left:7%;
}

footer ul li a {
    text-decoration: none;
    font-size:1.6em;
    padding-left: 2%;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.74);
    text-shadow: 10px 10px 10px #ccc;
}

.pet-card {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}